*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    /*To box model*/
 }

    /*Global */
 body{
font-family: "Merriweather" , sans-serif;
background-color: #ebf2ff;
overflow-x: hidden;
 }

 .button__primary{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
);
color: #fff;
padding: 12px;
border: none;
border-radius: 6px;
cursor: pointer;
 }

 }
 

 .container{
     width: 100%;
     margin: 0 auto;
     padding: 0 15px;
 }

 .navbar{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .navbar__brand{
     width: 100px;

 }

 .navbar__logo{
     width: 100%;
 }

 .hero__container {
     width: 100%;
 }

 .hero__image__container{
     width: 100%;
 }

 .hero__image{
     width: 100%;
 }

 .hero__text{
     font-size: 30px;
     color: #1d3557;
     margin: 20px 0;
 }

 /*explore menu  */


.explore__menu__container{
    margin-top: 50px;
    position: relative;
}
.explore__menu__bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
);
z-index: -3;
transform: skewY(-5deg);
}

 .explore__menu__text{
     font-size: 30px;
     color: #1d3557;
     margin: 20px 0;
     text-align: center;
 }

.food__menu__card{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food__image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food__menu__card__description{
    padding: 20px;
}

.exp__menu__view__more{
    display: flex;
    justify-content: center;
}


/* flex*/

.restaurant__text{
    font-size: 30px;
     color: #1d3557;
     margin: 20px 0;
     text-align: center;
}
.restaurant__row__one  ,.restaurant__row__two{
    width: 100%;
    display: flex;
    gap: 4px;

}

 .res__1__img ,
 .res__2__img ,
 .res__3__img ,
 .res__4__img{
     width: 100%;
     height: 100%;
     border-radius: 7px;
 }

 .restaurant__row__one{
     align-items: baseline;
     margin-bottom: 4px;

 }
 .res__1 , .res__4{
     width: 100%;
     height: 150px;
 }

 .res__2 ,.res__3{
     height: 200px;
     width:120%;
 }

 

 @media (min-width: 768px){
     .navbar{
         justify-content: space-between;
         padding: 10px 20px;
     }
     .navbar__brand{
         width: 150px;
     }
     .button_primary{
         padding:12px 20px;
         font-size: 20px;
     }
     .hero__container{
         display: flex;
         flex-direction: row-reverse;
         align-items: center;
         justify-content: space-between;
         gap: 20px;
        
     }
     .explore__menu__list{
         display: flex;
         gap: 8px;
         margin-top: 50px;
     }

 
 #pizza__card{
     margin-top: -20px;
     margin-bottom: 30px;  }

     .restaurant__text{
         font-size: 40px;
         width: 100%;
     }

     .restaurant__container{
         display: flex;
         align-items: center;
     }
     .restaurants__grid{
         width: 100%;
     }
}
 @media (min-width: 1020px){
    .container{
        max-width: 900px;
    }
    .hero__container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        margin: 50px;
    }
    .hero__image__container{
        width: 100%;
        margin-left: 100px;
       
        
    }
    .hero__description{
        width: 100%;
        margin-left: 100px;
    }

    .hero__text{
        font-size: 45px;
    }
    .explore__menu__list{
        gap: 20px;
        padding: 0 20px;
    }
    .explore__menu__text{
        font-size: 50px;
    }

    .explore__menu__container{
        margin-left: 100px;
        margin-right: -52px;
    }
    .restaurant__container{
        margin-top: 30px;
    }

}


 @media (min-width: 1400px){
     .container{
         max-width: 1250px;
     }

 }